<!--<h3>Post Lists</h3>-->
<%= render 'shared/title', title: 'Post List'%>
<!-- <div>
	<%= link_to 'New Post', new_post_path, class: 'btn btn-primary' %>
</div>  -->
<br>

<% @posts.each do |post| %>
	<%= render 'post', post: post%>
<% end %>
